body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* Headings */

h1, h2, h3 {
  font-family: "Montserrat";
  font-weight: 900;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 2.5rem;
}

/* Container */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
  padding-left: 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 0;
  position: relative;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Title */

#title .container-fluid {
  padding: 3% 15% 7%;
}

#title {
  text-align: left;
}

.dog-image {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  margin-left: 50px;
  right: 30%;
}

.download-button {
  margin: 5% 3% 5% 0
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.icon {
  color: #ef8172;
  position: relative;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

p {
  color: #8f8f8f;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
  padding-top: 5%;
  position: relative;
  z-index: 1;
}

.carousel-item {
  padding: 0 15%;
}

.testimonial-text {
  font-size: 2.5rem;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

.price-text {
  font-size: 2.5rem;
}

#pricing {
  padding: 6% 5% 0;
}

.pricing-column {
  padding: 3% 2%;
}

#pricing .card {
  height: 80%;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.pricing-row {
  flex-direction: column;
}

#pricing p {
  padding-left: 15px;
}

/* Query */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .dog-image {
    position: static;
    transform: rotate(0);
  }
}

/* Call to Action Section*/

#cta {
  padding: 5% 5% 7%;
}

.cta-text {
  font-size: 2.5rem;
  color: #fff;
  padding: 0 5% 3%;
}

/* Footer */
.footer-row {
  margin: 0 40%;
  padding-bottom: 2%;
}
